* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
 
}
/*.navbar-brand{
  margin-left: 10px;
  margin-top: 0px;
}

.nav{
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
 
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}


#dropdown li a {
  font-size: 2 em;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  margin-right: 10%;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #000000;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav > .nav-links1 {
  display: inline;
  float: right;
  margin-right: 0%;
  font-size: 18px;
}

.nav > .nav-links1 > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #000000;
}

.nav > .nav-links1 > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


.nav > #nav-check {
  display: none;
}*/

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}



  .searchbox{
    position: relative;
    display: inline-block;
    margin-left: 30%;
  }
  .searchbox input:focus {
    outline: none; /*by default,input shows an outline on focus */
  }
  .searchbox input{
    z-index: 0;
    margin-top: 8%;
    width: 250%;
    height: 40px;
    background:#f5f5f0;
    border-radius: 25px;
    border: 2px solid  #d6d6c2;
  }
  form{
    display:inline-block;
  }
#closeid{
  display: none;
}
 .fa-search{
     position: absolute;
     top:55%;
     left:5%;
     color:#b3b1b1;
 }
 .close{
        position: absolute;
        top:50%;
        right:-160%;
        color:#8e99a4;
        border: none;
        padding: 0;
 }
 .search{
  color:#615f5f;
  font-weight: 400; 
  padding-left: 50px;
  font-size: 18px;
  z-index: 3;
  font-style: italic;
  
 }
 .fa-times{
     position: absolute;
  top:30%;
  right:5%;  
 }


@media only screen and (max-width:1024px)
{
    .searchbox
    {

        width: 50%;
        margin-left:0;
        left:5%;

    }
} 
